<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Scrabble Dabble</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Yo, you got the best words?</h1>
      </div>
      <form action="/update" method="post">
        <label for="word">Enter Your Scrabble Word:</label>
        <input id="word" name="word" type="text" required>
      </form>
    </div>
  </body>
</html>
