<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Scrabble Dabble</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Thank you for the input!</h1>
      </div>
      <p>The total value of your word is: {{Scrabblescore}}</p>
      <a href='/'>Click here to return and enter another word!</a>
    </div>
  </body>
</html>
